<html>
<body>
<form method="POST" th:object="${personForm}" th:action="@{/}">
    <table>
        <tr>
            <td>ФИО ребенка:</td>
            <td><input type="text" th:field="*{fullName}"></td>
            <td th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full name error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</td>
        </tr>
        <tr>
            <td>Квантум:</td>
            <td><select name="kvantum">
                <option th:each="kvant : ${T(inc.sneid.rainbowSix.entity.PersonForm.Kvantum).values()}"
                        th:value="${kvant}" th:text="${kvant.displayValue}"></option>
            </select></td>
        </tr>
        <tr><td></td><td><input type="submit" value="Submit" /></td></tr>
    </table>
</form>
</body>
</html>