<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${profile}" method="post">
    <table>
        <tr>
            <td>Имя:</td>
            <td><input type="text" th:field="*{firstName}" /></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</td>
        </tr>
        <tr>
            <td>Фамилия:</td>
            <td><input type="text" th:field="*{lastName}" /></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error</td>
        </tr>
        <tr>
            <td>Отчество:</td>
            <td><input type="text" th:field="*{patronymic}" /></td>
            <td th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">Patronymic Error</td>
        </tr>
        <tr>
            <td>Кванум:</td>
            <td>
                <div th:each="kvantum : ${T(inc.sneid.kvantoForm.entity.Profile.Kvantum).values()}">
                    <input type="radio" th:field="*{kvantum}" th:value="${kvantum}">
                    <label th:for="${#ids.prev('kvantum')}" th:text="${kvantum}">kvantum</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>День рождения:</td>
            <td><input type="text" th:field="*{birthday}" placeholder="dd.MM.yy" /></td>
            <td th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>